---
import { Icon } from 'astro-icon/components';
import Button from '@components/shared/Button.astro';

// Header.astro
---

<header class="w-full py-4 px-6 bg-white">
  <div class="max-w-7xl mx-auto flex items-center justify-between">
    <!-- Logo -->
    <a href="/" class="text-2xl font-bold text-black">
      <img src="assets/logo.svg" class="h-[22px] w-auto" alt="Flowbite Logo" />
    </a>

    <!-- Navigation -->
    <nav class="items-center gap-8 flex">
      <ul class="hidden sm:flex items-center gap-8 text-sm font-semibold">
        <li>
          <a
            href="#about"
            class="text-black hover:text-gray-600 transition-colors"
          >
            About
          </a>
        </li>
        <li>
          <a
            href="#services"
            class="text-black hover:text-gray-600 transition-colors"
          >
            Services
          </a>
        </li>
        <li>
          <a
            href="#work"
            class="text-black hover:text-gray-600 transition-colors"
          >
            Our Work
          </a>
        </li>
      </ul>

      <Button
        href="/contact"
        label="Contact Us"
        class="h-11 w-36 text-xs font-semibold"
      />
    </nav>
  </div>
</header>

<style></style>
