---
import { Icon } from 'astro-icon/components';
import HeroText from '@components/HeroText.astro';
import HeroImage from '@components/HeroImage.astro';
import Awards from '@components/Awards.astro';
import SectionContainer from './shared/SectionContainer.astro';
---

<section>
  <HeroText />
  <HeroImage />
  <Awards />
</section>
